@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=GFS+Didot&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oooh+Baby&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none; 
    outline: 0;
    list-style: none;      
}

input{
    background-color: #F5F5F5;
    border-radius: 0.25rem;
}

label{
    font-weight: 600;    
}

a{
    color: black;
}


html{
    line-height: 1.5;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;    
    font-style: normal;
   
}

body{
    background-color: #F2F2ED;
}
/* ===================== Nav ====================================================== */

nav{
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.15); /* translucency */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    z-index:999;
    
}

.nav-container{
    position: relative;
    width: 95%;    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.logo-container{
    width: 5rem;
    height: 4rem;
}

.logo-container img{
    width: 100%;
    height: 100%;
    object-fit:fill;
}

.arrowdn{
    /* background-color: red; */
    cursor: pointer;
    color: #3b43d6;    
}

.menu-items, .login-container{
    font-size: 0.85rem;
}

.menu-items ul li{
    background-color: #fff;
    padding: 0.25rem;
    border-radius: 0.25rem;
   
}

.login-container{
    margin-right: 5rem;
    /* background-color: #EFE9E3; */
    padding: 0.25rem;
    border-radius: 0.25rem;
    display: flex;   
    align-items: center;
    gap: 0.5rem;
    width: 15rem;
    padding: 0.25rem;
    
}

ul.nav{
    display: flex;
    gap: 3rem;
}

.close-icon{
    display: none;
}


.hamburger-btn{
    display: none;
}

img.profile-image{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
}

.profile{
    position: absolute;
    top: 4rem;
    right: 0rem;    
    background-color: #fff;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    
}

.profile ul{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.profile ul li{
    height: 3rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #FF6B35; */
    border-bottom: solid 1px green;
    transition: all 200ms ease-in;   
}

.profile ul li:hover{
    background-color: #F3F4F4;
}

.closeprofile{
    display: none;
}

button{
    background-color: #3b43d6;
    color: #fff;
}

textarea{
    font-family: "Montserrat", sans-serif;
    font-size: medium;
    background-color: #F5F5F5;
}

.only-desktop, .sign-up{
    background-color: #3b43d6;
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.1rem;
    box-shadow: 0 0.7em 1.5em -0.5em #3b43d6;
}

.only-desktop:hover, .sign-up:hover{
    background-color: #363199  ;
}

/* 363199 */

/* ============================================================================================== */
/* =============================== Nav Media Queries ============================================*/
/* ============================================================================================== */



@media screen and (min-width:320px) and (max-width:1024px) {

    .login-container{
        justify-content: center;
    }

    .sign-up{
      display: none;   
             
    }
}

@media screen and (min-width:1024px){
  
} 



@media (hover: none) {
    .restaurant-item:hover {
        border-color: transparent;
        background-color: transparent;
    }
}


@media screen and (max-width:1024px){
   

    .banner-text{
        /* background-color: #FF6B35; */
    }

    .menu-items{        
        position: fixed;
        left: 0;
        top: 0;        
        background-color: rgba(0,0,0,0.8);
        width: 100vw;
        height: 100vh;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

     .slide-in{
        transform: translateX(0);
    }

    .menu-items ul{
        margin-top: 4rem;               
        display: flex;
        flex-direction: column;
        align-items: center;     
    }

    .menu-items ul{
        margin: 4rem auto;
        width: 40%;
    }

    .menu-items ul li{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-container{
      margin-right: -35rem;
     
    }

    .hamburger-btn{
        margin-top: 0.5rem;
        display: block;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-icon{
        position: absolute;
        top: 4rem;
        right: 3rem;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        font-size: 2rem;
        border-radius: 50%;
        cursor: pointer;
       
        
    }

   
    
    /* .hide{
        display: none;
    } */
}

/*  */

@media screen and (max-width:992px){
       .login-container{
       /* margin-right: -5rem;  */
    }
}


@media (max-width: 820px){
    .login-container{
       margin-left: -1rem;
    }
}



@media (max-width: 768px){
    .login-container{
       margin-left: -4rem;
    }
}

@media (max-width: 600px){

}

@media (max-width: 540px){
    .login-container{
       margin-left: -18rem;
    }
}


@media (max-width: 412px){
    .login-container{
       margin-left: -27rem;
    }
}



@media (max-width: 480px){
          .login-container{
             margin-left: -21rem;
    }
}

@media (max-width: 440px){
        .login-container{
       margin-left: -23rem;
    }
}

@media (max-width: 414px){
        .login-container{
       margin-left: -25rem;
    }
}

@media (max-width: 430px){
        .login-container{
       margin-left: -24rem;
    }
}

@media (max-width: 400px){

}



@media (max-width: 390px){
        .login-container{
       margin-left: -26rem;
    }
}


@media screen and (max-width:375px){
        .login-container{
       margin-left: -27rem;
    }  
}

@media screen and (max-width:344px){
        .login-container{
       margin-left: -27rem;
    }  
}


@media (max-width: 360px){
    .login-container{
       margin-left: -28rem;
    }
}

@media (max-width: 320px){
    .login-container{
        margin-left: -30rem;
    }
}



/* ================================= Header ===================================================== */
.header-container{
    position: relative;
    width: 100%;
    height: 10rem;
}

.header-image{
    position: relative;
}

.search-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 30rem;
    height: 1.5rem;
    background-color: #fff;    
    display: flex;
    justify-content: space-between;    
    align-items: center;
    /* padding: 0.5rem; */
     padding-left: 0.5rem;
     padding-top: 0.5rem;
     /* padding-right: 0.5rem; */
     padding-bottom: 0.5rem;
    border-radius: 2rem;
}

.search-text form{
    width: 100%;
}

.header-sign-up{
    position: absolute;
    background-color:#FF6B35;
    background-color: #76C0EC;
    background-color: #2373F4;
    color: #fff;
    width: 50%;
    height: 3rem;  
    top: 20rem;
    left: 25%;
    right: 25%;
    bottom: 0rem;    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    display: none;    
    /* font-weight: 700;    */
   
}

.banner-text{
    position: absolute;
    left: 2rem;
    top: 5rem;  
    width: 23rem;
    height: 22rem;
    z-index: 10;
    /* background-color: red; */
    color: #FF6B35;
    color: #fff;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;       
}

/*   font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */

.search-icon{    
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 0.5rem;
    color: #fff;
    color: black;    
    background-color: #FF6B35;
    background-color: #EFE9E3;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    cursor: pointer;
    
}

.search-text input{
    width: 100%;
    /* width: 50rem; */
    height: 100%;
    border: none;
    font-size: large;
    background-color: #fff;    
}

.header-image img{
    margin-top: 3rem;
    width: 100%;
    height: 25rem;
    object-fit:cover;
    object-position: center 27%;   
}


/* overlay */
.header-image::after {
    content: "";
    margin-top: 3rem;
    width: 100%;
    height: 25rem;
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.35); 
    
}



.login{
    margin-top: 50rem;
    /* background-color: red; */
}

/* ====================== Header Media Queries ========================= */
@media screen and (max-width:1024px){
    .search-text{
        width: 20rem;
    }

    .banner-text{
        font-size: 2rem;
        width: 15rem;
    }

 
}

@media(max-width: 960px){
       .header-sign-up{
           display: flex;
           width: 30%;
           left: 35%;
           right: 35%;      
        }
}


@media (max-width: 768px){    
        .banner-text{
            font-size: 2rem;
            width: 10rem;
    }

     .header-sign-up{
           display: flex;
           width: 40%;
           left: 30%;
           right: 30%;      
        }
}


@media (max-width: 600px){

        .banner-text{
            font-size: 2rem;
            width: 90%;
            height: 10rem;
            /* background-color: #FF6B35; */
            left: 1rem;
            top: 3.5rem;
        }


        .header-sign-up{
           display: flex;
                
        }
      
}



@media (max-width: 480px){
            .banner-text{
                font-size: 1.5rem;
            }
        }

@media (max-width: 360px){
    .search-text{
        width: 15rem;
    }
}


/* ================================  Home Page =============================*/

.container{
    position: relative;
    margin: 20rem auto 1rem;
    width: 80%;
}

.container-heading{
    width: 100%;
    text-align: center;
}




.text{
    font-size: 0.7rem;
    font-weight: 600;
    
}


.restaurant-items{    
    margin-top: 1.5rem;
    display: grid;    
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    
}


.notification{
   
}


.restaurant-item{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    border-radius: 2rem; 
    border: 1px solid transparent;
    transition: border-color 300ms ease; 
    
}


.restaurant-item:hover{
     border-color: #EFE9E3;
     background-color: #EFE9E3;
    transition: all 300ms ease;        
}

.contact{
    display: flex;
    flex-direction: column;
}

.whatsapp::first-letter{
    color: greenyellow;
}
.facebook{
    color: blue;
}

iframe{
    margin-top: 0.5rem;
    width: 18rem;
    height: 8rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.restaurant-photo{
    width: 18rem;
    height: 10rem;   
}

.restaurant-photo img{
    width: 18rem;
    height: 10rem;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    
}

.owner{
    width: 100%;
    display: flex;
    justify-content:space-between;   

}

.owner span{
    background-color: #3b43d6;
    color: #fff;
    border-radius: 2rem;
    padding: 0.17rem;
}

.website span a, .clicktext a{
    /* background-color: #3b43d6; */
    color: #3b43d6;
    color: #22396F;
    border-radius: 0.5rem;
    padding: 0 0.17rem 0;
}

.reviews-ownership{
    cursor: pointer;
}

.star-color{   
    color: grey;
}


/* ================== Home Page Media query ====================== */
@media screen and (min-width:320px) and (max-width:600px){
    .restaurant-items{
        display: flex;
        flex-direction: column;
    }

    .restaurant-item{   
        width: 100%;
    }
  
}



 @media screen and (min-width:650px) and (max-width:1024px){
    .restaurant-items{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* ================================= About Page ============================= */
section.about{
    width: 100vw;   
    margin-top: 5rem;
}

.introduction{
    width: 70%;
    margin: 0 auto 1rem;
}

.introduction p:last-child{    
    margin-top: 1rem;
} 

.how-it-works{
    width: 100%;
    margin: 0 auto 0;
    /* background-color: #3CB371; */
}


.accordion-main{
    width: 70%;
    margin: 0 auto 0; 
    display: flex;
    flex-direction: column;
    gap: 3rem;  
}

/* ================================ About media query ================================== */
@media screen and (min-width:320px) and (max-width:600px){
    .app-intro{       
        text-align: justify;
    }

    .introduction{
        width: 90%;
    }

    .accordion-main{
       width: 90%; 
    }
}

/* ================================= register form ========================== */
.register-form{
    position: relative;
    width: 90%;
    margin: 4rem auto;
       
}

.error{
    width: 100%;
    text-align: center;
    margin-top: 1.5rem;
}

.register-form .container-heading{    
    margin-top: 4rem;
}

label{
    margin-bottom: -1rem;
    font-size: small;
}

.register{
    margin: 0 auto;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #EFE9E3; 
    padding: 1rem;
    border-radius: 1rem;     
    border: 1px solid transparent;
    transition: border 300ms ease
}

/*    border-color: #EFE9E3;
     background-color: #EFE9E3; */

.register:hover{
    border: 1px solid gray;
    transition: border 300ms ease;
}

h5.error{
    margin: 0rem auto;
    color:#FF6B35;
    width: 30%;   
    height: 2rem;
    display: flex;
    justify-content:center;
    align-items: center;
}

.register input{
   height: 1.7rem;
   border: none;
   border-radius: 0.5rem;
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

.register input[type='email']{
    width: 100%;
}

.register input[type='tel']{
    width: 100%;
}

button{
    height: 2rem;
    width: 5rem;
    border-radius: 0.5rem;
    /* border: 1px solid gray; */
    cursor: pointer;
    border: none;
}

.remind, .password-forgotten{
  margin-top: 0.5rem;
  width: 100%;
  text-align: center;
}


/*===================== Media Queries for register an login ====================*/
@media screen and (min-width: 320px) and (max-width: 650px) {
    .register{
        width: 90vw;       
        padding: 0;    
    }

    h5.error{
        width: 100%;        
    }

}

@media screen and (min-width: 760px) and (max-width: 1024px) {
    .register{
        width: 50vw;       
        padding: 0;    
    }

    h5.error{
        width: 100%;        
    }

}

/* ===================================Admin page=============================================== */

.admin-page{
    width: 95%;
    margin: 4rem auto;
}

.admin-form{
    width: 50%;
    margin: -1rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* background-color: #FF6B35; */
}

.admin-form input[type='text']{
    font-size: 1rem;
}

.admin-form label{
    margin-bottom: -2rem;
}

input{
    height: 2rem;
}

input[type='time']{
    width: 6rem;
}


input[type='tel'],
input[type='email']{
    width: 35%;
}

input[type='number']{
    width: 3rem;
}

.max-min input{
    margin-left: -1rem;
}

.max-min{
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: small;
}

.socials{
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    
}

.socials input{
    width: 35%;
}


/* ================================= Media Queries ========================= */
@media screen and (min-width: 320px) and (max-width: 1024px){
    .admin-page .error{
        margin-bottom: 0.5rem;
    }

    .admin-form{
        width: 90vw;
        
    }

    .admin-form input{
        margin: 1rem auto;
    }

    .admin-form label{
         /* margin: -2rem auto; */
         margin-bottom: -3rem;
         margin-left: auto;
         margin-right: auto;
    }

    .admin-form input[type='text']{
        width: 65%;
    }

    .max-min{
        /* width: 100%;
        margin-left: auto;
        margin-right: auto; */
        /* background-color: #FF6B35; */
       
    }

    .min, .max{
        margin-right: -5rem;
    }

    input[name='max']{
        margin-right: 2rem;
    }
}

/* ========================= Admin /owner dashboard Page ================================= */

.admin-dashboard{
    width: 100vw;
    margin-top: 4.5rem;   
}

.admin-dashboard .heading{
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;    
}

.form-link{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 1rem auto;
    
}

.form-link button{
    height: 4rem;
    width: 15rem;    
    background-color: #3b43d6;
    color: #fff;
    font-size: medium;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6)
}

.form-link button:hover{

}

.admin-dashboard-items{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;    
}

.admin-dash-board-item{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 0.25rem;
    border-bottom: 1px solid gray;
}

.image{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img{
    width: 15rem;
    height: 10rem;
    object-fit: cover;
}

.restaurant-information{
   
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.controls{    
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}

.approve{
    background-color: #3b43d6;
    color: #fff;
}

.deny{
    background-color: #3b43d6;    
}

.del{
    background-color: #FF6B35;
}


/* ========================= media queries for Admin dashboard Page ================== */
@media screen and (min-width: 320px) and (max-width: 760px){
    .admin-dash-board-item{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .controls{
        flex-direction: row;
    }
}

/* ========================= restaurant Detail ======================================== */
.detail-info{
    width: 100%;
    margin-top: 4rem;
}

.restuarant-name{
    width: 95%;
    margin: 0 auto;
    text-align: center;
    /* background-color: #FF6B35; */
}

.detail-info .controls{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-top: 2rem;    
}

.detail-info .controls button{
    width: 10rem;
    height: 2.5rem;
    background-color: #BFDDF0;
    
}

.detail-info .controls button:hover{
    background-color: #BBD5DA;
}

.btn-gallery,
.btn-menu,
.btn-edit{  
    color: green;
}


.btn-delete{
    color: red;
}

.cover-image{
    width: 100%;
    margin: 1.5rem auto 1rem;
}

.cover-image img{
    width: 100%;
    height: 30rem;
    object-fit: cover;
}

.description-text{
    width: 80%;
    margin: 0 auto;
    text-align: justify;
}



.contact-details{
    width: 95%;
    margin: 2rem auto 1rem;
}

.contact-details .contact{
    width: 50%;
    display: flex;
    flex-direction: row;    
    margin: -1rem auto 1rem;
    justify-content: space-between;
}

.contact-details h3{
    width: 50%;
    margin: 2rem auto 1rem;
    /* background-color: #FF6B35; */
    text-align: center;
}

.contact-details .social-media{
    width: 50%;
    /* background-color: #FF6B35; */
     margin: 1rem auto 1rem;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 3rem;     
     
}
.social-media span.whatsapp a{
 color: #3CB371;
 font-size: 1.5rem;
}

.social-media span.facebook a{
 color: #3b43d6;
 font-size: 1.5rem;
}

.social-media span.instagram a{
    color: orange;
    font-size: 1.5rem;    
}

.opening-closing-hours{
    width: 95%;
    margin: 2rem auto 1rem;
}

.opening-closing-hours h3{
    width: 50%;
    margin: 1rem auto 1rem;
    text-align: center;
      
}

.opening-closing{ 
    margin: -1rem auto 1rem;    
    width: 50%;
    display: flex;
    justify-content: space-between;
   
}

.menu-dishes{
    width: 100%;
    margin: 2rem auto 1rem;
}

.the-menu-items{
    width: 95%;
    margin: 2rem auto 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.the-menu-item{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    border-radius: 1rem;
    outline: 1px solid gray;
}

.menu-photo-left-side{
    width: 20rem;
    height: 15rem;
    display:flex; 
    align-items: center;
    justify-content: center;   
}

.menu-photo-left-side img{
    display: block;
    width: 20rem;
    height: 15rem;
    border-radius: 0.5rem;
    object-fit: cover;
}

.right-side{
    height: 15rem; 
    display: flex;
    flex-direction: column;
    gap: 3rem;    
}



.the-menu-item .button-class{
    display: flex;    
    gap: 0.5rem;
   
}

.right-side:hover{    
    transition: all 300ms ease;
    cursor: pointer;       
    
}

.menu-name-menu-price{
    width: 40rem;
    width: 100%;    
    display: flex;
    justify-content:space-around;
    margin: 1rem auto 0rem;
    font-weight: 700;
   
}

.menu-name-menu-price-description .menu-description{    
    margin: 1rem auto 0rem;
    
}

.right-side .button-class{
    margin-top: -2rem;    
}

.dishes{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0rem auto 1rem;
}

.dishes li{
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px gray solid;
    border-radius: 1rem;
    padding: 0.5rem; 
    transition: all 300ms ease;
    cursor: pointer; 
}

.dishes li:hover{
    background-color: lightgray;
    transition: all 300ms ease; 
}

.menu-heading{
    width: 100%;
    /* background-color: #FF6B35; */
    text-align: center;
}

.gallery{
    width: 95%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.gallery-section h3{    
    /* background-color: red; */
    
}

/* Blue button color to be maintained for all butttons */
button.add-menu, button.add-gallery{    
    width: 40%;
    margin: 0 30%;    
    background-color: #3b43d6;
    color:#fff;
    font-weight: 600;
}

.image{
    /* background-color: #FF6B35; */
}

.gallery-item{
    width: 100%;
}

.button-class{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

.image img{
    width: 100%;
    height: 15rem;
    object-fit: cover;
    transition: all 300ms ease-in;
    cursor: pointer;
}

.image img:hover{
    transition: all 300ms ease-in;
    transform: scale(1.02);
}

.gallery-section h3{
    width: 50%;
    /* background-color: #FF6B35; */
    margin: 2rem auto 0rem;
    text-align: center;
}

.google-map-location{
    width: 95%;
    margin: 2rem auto -5rem;
}

.google-map-location iframe{
    width: 100%;
    height: 10rem;
}



/* =================== Restaurant form page and edit restuarant form page ================  */

.admin-form input[type="file"]{
    display: none;
}


label.form-restaurant{
       display: block;
    width: 100%;
    margin: 3rem auto 1rem;
    background-color: #3b43d6;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    border-radius: 0.5rem;
}


/* ========================= Media queries for restaurant Detail ======================= */
@media screen and (min-width:320px) and (max-width:912px){
    .detail-info .controls{
        flex-direction: column;
        gap: 1rem;
    }

  

    .description-text{
        width: 95vw;       
        text-align:justify;         
        margin-left: 2.5vw;
        margin-right: 2.5vw;
    }

    .menu-photo-left-side{
        width: 20rem;
        height: 15rem;
    }

    .right-side{
        border-bottom: none
    }


    .menu-photo-left-side{
        width: 100%;       
    }

    .menu-photo-left-side img{
        width: 100%;   
    }

    .menu-name-menu-price{
        width: 95vw;
    }

    .detail-info .controls button{
        width: 15rem
    }

    .contact-details .contact{
        width: 70%;
        flex-direction: column;
        align-items: center;
    }

    .opening-closing{
        width: 70%;
    }


     .the-menu-item{
        display: flex;
        flex-direction: column;
        padding: 0rem;
        outline: none; 
        border-bottom: 1px solid gray;
        border-radius: 0;       
    }

    .menu-description{
        width: 95vw;       
        text-align:justify;
        font-size: small;        
    }

    .dishes{
        width: 70%;
    }

    .button-class{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 0.5rem;
    }

    .gallery{
        grid-template-columns: repeat(2, 1fr);
    }

    .image img:hover{    
    transform: scale(1);
}
}

@media screen and (min-width:320px) and (max-width:480px){
        .gallery{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* ============================== gallery upload page================================= */
.gallery-upload{
    width:95%;    
    margin: 7rem auto 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.gallery-upload form{
    background-color: #F5F5F5;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 1.4rem; 
    border-radius:1rem;
}

.gallery-upload form label{
    /* width: 8rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background-color: #fff;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    background-color: #fff; */
    display: block;
    width: 100%;
    margin: 3rem auto 1rem;
    background-color: #3b43d6;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    border-radius: 0.5rem;
}

.gallery-upload form label:hover{
    /* background-color: #EDE9E6; */
}

.gallery-upload form label:active{
    /* background-color: #EDE9E6;
    box-shadow: 0 5px #666;
    transform: translateY(4px) */
}

input.fileupload{
    display: none;
    width: 15rem;    
}

.button-conrol{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button-conrol button{
    /* border-radius: 15px;
    box-shadow: 0 9px #999;
    background-color: #fff; */
}

/* EDE9E6 */

.button-conrol button:hover{
    /* background-color: #EDE9E6;  */
}

.button-conrol button:active{
    /* background-color: #EDE9E6;
    box-shadow: 0 5px #666;
    transform: translateY(4px) */
}

.display-area{
    margin-top: 1rem;
    width: 20rem;
    /* background-color: #FF6B35; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* ============================== Edit gallery/change gallery photo page================================= */
.edit-gallery{
    margin-top: 6rem;
}


.edit-gallery form input{
    display: none;
}


.edit-gallery form label{
    display: block;
    width: 25%;
    margin: 3rem auto 1rem;
    background-color: #3b43d6;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
}

.gallery-item .button-class{
    margin-top: 0.5rem;
}

.filename-display{
    width: 100%;
    text-align: center;
}

/* ======================================Edit gallery/change gallery photo page =============  */

@media screen and (min-width:320px) and (max-width:600px){
    .gallery-upload{
        width: 95%;
    }

    .gallery-upload form{
        width: 100%;
    }
    
    .edit-gallery form label{
        width: 70%;
    }
}

@media screen and (min-width:601px) and (max-width:912px){
    .edit-gallery form label{
        width: 25%;
    }
}
    


/* ========================= Menu Upload ============================================ */
.rest-menu{
    width: 50%;
    margin: 5rem auto;
    /* background-color:#FF6B35;     */
}

.menu-dishes-drinks{
    /* background-color: #FFD400; */
    text-align: center;
}

.upload-toMenu input[type='file']{
    display: none;
}

.menu-label{
    height: 2rem;
    width: 100%;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 3rem auto 1rem;
    background-color: #3b43d6;
    color: #fff;
    border-radius: 0.5rem;

}



.rest-menu form{
    width: 70%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* background-color: #A5CF83; */
}

.menu-name-price{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;    
    /* background-color: #FF6B35; */
}

.availabilty{
    position: relative;
    width: 30%;   
    /* background-color: #FF6B35; */
    display: flex;
    align-items: center;    
    justify-content: space-around;
}

.availabilty label{
    margin-top: -0.7rem;    
   /* background-color: green; */
}

textarea{
    width: 100%;
    height: 20rem;
    border-radius: 0.5rem;   
}

.menu-upload{
    width: 50%;
    margin: 2rem auto;    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* ====================media queris for Menu upload=============== */
@media screen and (min-width:320px) and (max-width:912px){
  .rest-menu{
    width: 98%;
  }

  .menu-name-price{
    flex-direction: column;
    gap: 1rem;
  }
}

 
/* ============================= Edit Menu ========================================== */
#edit-menu{
    position: relative; 
    margin-top: 5rem;
    width: 100%;    
}


/* margin: 6rem auto 1rem; */

input#img{
    margin-left: 37.5%;
    margin-right: 37.5%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 25%;
    background-color: red;
    display: none;     
}



#edit-menu form{
    position: relative;
    margin-top: 1rem;
    
}

#edit-menu form label {
    display: block;
    width: 25%;
    margin: 3rem auto 1rem;
    background-color: #3b43d6;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
}

.inputs{
    width: 50%;
    display: flex;
    flex-direction: column;
    /* background-color: #3b43d6; */
    margin: 0 auto;
    justify-content: center;
    gap: 1.5rem;

}

.available{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.name, .price{
    display: flex;
    flex-direction: column;
}

.description{
    width: 100%;
    text-align: center;
        
}

#edit-menu form .description{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

#edit-menu form textarea{
    width: 60%; 
    margin: 0 auto 0;
}

#edit-menu form .button-class{
    margin-top: 1rem;
}

/* ================================== edit Menu ================================== */
@media screen and (min-width:320px) and (max-width:600px) {
   .inputs{
    width: 90%;
   }

   #edit-menu form textarea{
    width: 90%;
   }

   #edit-menu form label{
    width: 80%;

   }
}

/* ==============================Error Page ====================================== */

.error-page{
  width: 95vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a p{
    width: 20rem;
    background-color: #BBD5DA;
    font-size: medium;
    text-align: center;
    border-radius: 5px;
}

.buttons a{
    background-color:#A5CF83;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    color: #fff;
    border-radius: 5px;
}

/* ============================Forhotten Password page ============================== */

.forgotten-password{
  width: 95vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ================================ modals =========================================== */
.confirmation-modal{   
   position:fixed;
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; 
   z-index: 3;  
   background-color: rgba(0,0,0,0.35);  
    
}

.modal-information{
    width: 20rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: #3CB371;
    background-color: #fff;
    border-radius: 1rem;
}

.confirmack-information{
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    background-color: #3CB371;
    background-color: #fff;
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.confirmation-notice{
       display: flex;
    flex-direction: column;
    gap:3rem;
}



.confirm-checkbox, .ack-checkbox{
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 1rem;
}

.confirmation-notice p{
    text-align: center;
    font-size: small;
}

.confirmation-notice{  
    /* color: red;    */
}

.buttons-controls{
    display: flex;
    gap: 0.5rem;
}

.no-listings{    
    width: 100%;
    text-align: center;
}

/* ============================ Change Profile Photo Page =============================== */

.profile-photo{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #F2F2ED;
}

.profile-pic{
    width: 10rem;
    height: 10rem;
    /* background-color:#BBD5DA; */
    outline: solid 3px #fff;
    border-radius: 50%;
}

.profile-pic img{
    width: 10rem;
    height: 10rem;
    border-radius:50%;
}

.profilePage-label{
    background-color: #3b43d6;
    height: 2rem;
    width: 50%;
    margin: 0 auto;   
    border-radius: 0.5rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

input.profileInput-label{
    display: none;
}

.form-photo{
    width: 50%;
    /* background-color: #3b43d6; */
    display: flex;
    flex-direction: column;
    gap: 3rem;
    outline: solid 3px #fff;
    padding: 0.5rem;

}

.control-profilePage{
    display: flex;
    justify-content: space-between;
}

/* ========================= Profile Page Media Queris =========================================== */

@media screen and (min-width:320px) and (max-width:600px) {
    .form-photo{
        width: 90%;
    }

    .profilePage-label{
         width: 90%;
    }
}

/* ==============================Change Password Page========================================= */


.change-password{
    width:100%;
    height:100%;
    margin-top:6rem;
    background-color: #F2F2ED;
}

.changePasswordForm{
    width: 50%;
    height: 100%;
    margin: 0 auto;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: solid 2px #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.changePasswordForm h2{
    margin-bottom: 6rem;
}

.changePasswordForm input{
    width: 80%;
    /* border: solid 2px #fff; */
}

.changePassword-buttons{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

/* ==============================media queries for change password page================ */
@media screen and (min-width:320px) and (max-width:600px) {
    .changePasswordForm{
        width: 90%;
    }
}

/* ============================= Loader =========================================== */


/* ========================= Footer CSS =============================================== */

footer{
    margin-top: 5rem;
    width: 100vw;   
    background-color: gray;
}

.footer-container{
    margin: 1rem auto 1rem;
    width: 95%;
    color: #fff       
}

.footer-menus{
    border-bottom: solid #F5F5F5;
}

.footer-menus ul a{
   color: #fff;
}

.footer-menus ul{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.address-socials{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer small{
    display: block;
    background-color:#fff;
    width: 100%;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* =================================== Media Queries footer ============================================= */
@media screen and (min-width:320px) and (max-width:600px){
    footer{
        margin-top: 6rem;
    }
    .footer-menus ul{
    flex-direction: column;
    gap: 2rem;
    height: fit-content;
    } 
    
    .address-socials{
        flex-direction: column;
        justify-content:space-between;
        /* align-items:center; */
        text-align: justify;
        gap: 2rem;
        /* background-color: #3b43d6; */
    }

    .address, .contacts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
